@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-family: 'Urbanist Variable', sans-serif;
	color: #eeeeee;
}

.background-gradient {
	font-size: 2em;
	text-align: center;
	padding: 20px;
}

.flicker {
	animation: flickerAnimation 1s infinite;
}

@keyframes flickerAnimation {
	0% { opacity: 1; background-color: #ffffff; }
	50% { opacity: 0.5; background-color: #000000; }
	100% { opacity: 1; background-color: #ffffff; }
}